{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Contact Us | 404 Studio{% endblock title %}
{% block meta_description %}Get in touch with us for web design, development, and hosting inquiries. We're here to help!{% endblock meta_description %}
{% block content %}
<section class="contact-section py-5 text-white">
    <div class="container-fluid">
        <h2>Still have questions? Let's Chat.</h2>
        <div class="row align-items-center">
            <!-- Form Column -->
            <div class="col-md-6">
                <form class="contact-form">
                    <div class="mb-3">
                        <label>First Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Subject</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Message</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <button class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">Submit</button>
                </form>
            </div>
            <!-- Image Column -->
            <div class="col-md-6 noise-effect">
                <img src="{% static '/img/images/contact-image.jpg' %}" alt="Contact Us" class="img-fluid noise-effect">
            </div>
        </div>
    </div>
</section>
{% endblock content %}