{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% translate "Web Development Packages | 404 Studio" %}{% endblock title %}
{% block meta_description %}Explore our web development packages designed to elevate your online presence. Affordable and professional solutions for businesses.{% endblock meta_description %}

{% block content %}
  <!-- Website Development Packages Section -->
  <section class="packages-section py-5">
    <div class="container text-center">
      <h2>Website Development Packages</h2>
      <div class="row mx-0">
        <div class="col-sm-12 col-md-4 mb-4">
          <div class="package-card">
            <h4>Basic</h4>
            <p class="cost-subtitle">$500-$1,000</p>
            <br/>
            <p>Services Included:</p>
            <ul>
              <li>Pre-designed layout selection and customization</li>
              <li>Up to 5 pages</li>
              <li>Basic SEO setup</li>
              <li>Mobile-responsive design</li>
              <li>1 round of revisions</li>
              <li>Content formatting</li>
            </ul>
            <br/>
            <p>Ideal For:</p>
            <ul>
              <li>Small businesses or personal sites needing a professional web presence with minimal customization</li>
            </ul>
            <button 
              onclick="window.open('https://calendly.com/kaleblub/meeting-to-discuss-web-development-package-basic', '_blank')" 
              type="button" 
              class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
              Request this Package
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-4">
          <div class="package-card">
            <h4>Standard</h4>
            <p class="cost-subtitle">$1,500-$2,500</p>
            <br/>
            <p>Services Included:</p>
            <ul>
              <li>Semi-custom design with unique styling</li>
              <li>Up to 10 pages</li>
              <li>Advanced SEO setup</li>
              <li>Speed optimization</li>
              <li>Basic E-commerce capability (up to 10 products)</li>
              <li>2 rounds of revisions</li>
              <li>Contact form integration</li>
            </ul>
            <br/>
            <p>Ideal For:</p>
            <ul>
              <li>Growing businesses needing more customization and basic e-commerce functionality
              </li>
            </ul>
            <button 
              onclick="window.open('https://calendly.com/kaleblub/meeting-to-discuss-web-development-package-standard', '_blank')" 
              type="button" 
              class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
              Request this Package
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-4">
          <div class="package-card">
            <h4>Premium</h4>
            <p class="cost-subtitle">$5,000+</p>
            <br/>
            <p>Services Include:</p>
            <ul>
              <li>Fully custom design from scratch</li>
              <li>Unlimited pages</li>
              <li>E-commerce with unlimited products</li>
              <li>Custom features (user profiles, booking systems, etc.)</li>
              <li>4 rounds of revisions</li>
              <li>Third-party integrations (CRM, marketing platforms)</li>
            </ul>
            <br/>
            <p>Ideal For:</p>
            <ul>
              <li>Businesses needing complex functionality or unique custom features</li>
            </ul>
            <button 
              onclick="window.open('https://calendly.com/kaleblub/meeting-to-discuss-web-development-package-premium', '_blank')" 
              type="button" 
              class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
              Request this Package
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>{% endblock content %}