{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% translate "Web Development Packages | 404 Studio" %}{% endblock title %}
{% block meta_description %}{% translate "Explore our web development packages designed to elevate your online presence. Affordable and professional solutions for businesses." %}{% endblock meta_description %}

{% block content %}
  <!-- Website Development Packages Section -->
  <section class="packages-section py-5">
    <div class="container text-center">
      <h2>{% translate "Website Development Packages" %}</h2>
      <div class="row mx-0">
        <div class="col-sm-12 col-md-4 mb-4">
          <div class="package-card">
            <h4>{% translate "Basic" %}</h4>
            <p class="cost-subtitle">$500-$1,000</p>
            <br />
            <p>{% translate "Services Included:" %}</p>
            <ul>
              <li>{% translate "Pre-designed layout selection and customization" %}</li>
              <li>{% translate "Up to 5 pages" %}</li>
              <li>{% translate "Basic SEO setup" %}</li>
              <li>{% translate "Mobile-responsive design" %}</li>
              <li>{% translate "1 round of revisions" %}</li>
              <li>{% translate "Content formatting" %}</li>
            </ul>
            <br />
            <p>{% translate "Ideal For:" %}</p>
            <ul>
              <li>{% translate "Small businesses or personal sites needing a professional web presence with minimal customization" %}</li>
            </ul>
            <button
              onclick="window.open('{{ dev_basic }}', '_blank')"
              type="button"
              class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
              {% translate "Request this Package" %}
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-4">
          <div class="package-card">
            <h4>{% translate "Standard" %}</h4>
            <p class="cost-subtitle">$1,500-$2,500</p>
            <br />
            <p>{% translate "Services Included:" %}</p>
            <ul>
              <li>{% translate "Semi-custom design with unique styling" %}</li>
              <li>{% translate "Up to 10 pages" %}</li>
              <li>{% translate "Advanced SEO setup" %}</li>
              <li>{% translate "Speed optimization" %}</li>
              <li>{% translate "Basic E-commerce capability (up to 10 products)" %}</li>
              <li>{% translate "2 rounds of revisions" %}</li>
              <li>{% translate "Contact form integration" %}</li>
            </ul>
            <br />
            <p>{% translate "Ideal For:" %}</p>
            <ul>
              <li>{% translate "Growing businesses needing more customization and basic e-commerce functionality" %}
              </li>
            </ul>
            <button
              onclick="window.open('{{ dev_standard }}', '_blank')"
              type="button"
              class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
              {% translate "Request this Package" %}
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-4">
          <div class="package-card">
            <h4>{% translate "Premium" %}</h4>
            <p class="cost-subtitle">$5,000+</p>
            <br />
            <p>{% translate "Services Include:" %}</p>
            <ul>
              <li>{% translate "Fully custom design from scratch" %}</li>
              <li>{% translate "Unlimited pages" %}</li>
              <li>{% translate "E-commerce with unlimited products" %}</li>
              <li>{% translate "Custom features (user profiles, booking systems, etc.)" %}</li>
              <li>{% translate "4 rounds of revisions" %}</li>
              <li>{% translate "Third-party integrations (CRM, marketing platforms)" %}</li>
            </ul>
            <br />
            <p>{% translate "Ideal For:" %}</p>
            <ul>
              <li>{% translate "Businesses needing complex functionality or unique custom features" %}</li>
            </ul>
            <button
              onclick="window.open('{{ dev_premium }}', '_blank')"
              type="button"
              class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
              {% translate "Request this Package" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>{% endblock content %}