{% load static %}

<div class="container">
    <div class="row">
        <!-- Left Content -->
        <div class="col-md-9">
            <div class="row">
                <!-- About Section -->
                <div class="col-md-6">
                    <h5>About</h5>
                    <p>
                      404 Studio helps businesses transform their digital presence with custom solutions that drive real growth.</p>
                </div>
                <!-- Latest Websites Section -->
                <div class="col-md-3">
                    <h5>Latest Websites</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://wovendignity.com" target="_blank">Woven Dignity</a></li>
                        <li><a href="https://ilcabejaia.com" target="_blank">ILCABejaia</a></li>
                        <li><a href="https://balancedaccountant.com" target="_blank">Balanced Accountant</a></li>
                    </ul>
                </div>
                <!-- Information Section -->
                <div class="col-md-3">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'development_packages' %}">Development</a></li>
                        <li><a href="{% url 'hosting_plans' %}">Hosting</a></li>
                        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                        <li><a href="https://calendly.com/kaleblub/30min" target='_blank'>Schedule Meeting</a></li>
                    </ul>
                </div>
                <!-- Social Media Section
                <div class="col-md-3">
                    <h5>Connect With Us</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-rss"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-envelope"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <!-- Logo Section -->
        <div class="col-md-3 justify-content-end align-items-center">
            <img src="{% static '/img/images/404Studio-logo-website.png' %}" alt="Logo" class="footer-logo">
        </div>
    </div>
    <!-- Copyright Section -->
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p class="mb-0">404 Studio LLC. &copy; 2025 | All rights reserved.</p>
        </div>
    </div>
</div>