{% extends "main/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% block title %}{% translate "404 Studio | Professional Web Development and Hosting Services" %}{% endblock title %}
{% block meta_description %}{% translate "Build your online presence with 404 Studio. We offer expert web development, hosting, and
design services to help your business grow." %}{% endblock meta_description %}
{% block content %}
<section class="hero-section text-center text-white">
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-12 hero-text">
        <h1>{% translate "YOUR DIGITAL" %}</h1>
        <div class="frame hero-section-image-frame-1">
          <div class="hero-section-image-container-1 noise-effect">
            <img class="hero-section-image hero-first-image"
              src="https://images.squarespace-cdn.com/content/v1/6718b30b131cc651070af13a/1730071929301-KELQVPTR4W4LENS4UC3U/unsplash-image-uq5RMAZdZG4.jpg">
          </div>
        </div>
        <h1>{% translate "FUTURE STARTS" %}</h1>
        <div class="frame hero-section-image-frame-2">
        <div class="hero-section-image-container-2 noise-effect">
          <img class="hero-section-image hero-second-image"
            src="https://images.squarespace-cdn.com/content/v1/6718b30b131cc651070af13a/1730071862007-KQ3CQZDTYHOO8HUMAOTG/unsplash-image-dC6Pb2JdAqs.jpg">
        </div>
        </div>
        <h1>{% translate "HERE" %}</h1>
        <p class="hero-summary">
          {% translate "We help businesses transform their digital presence with custom solutions that drive real growth." %}
        </p>
        
        <div class="buttons hero-buttons">
          <button onclick="window.open('{{ 30_min }}', '_blank')" type="button"
            class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
            {% translate "Get a Free Consultation" %}
          </button>
          <button onclick="location.href='{% url 'portfolio' %}'" type="button"
            class="button button--quidel button--inverted">
            {% translate "View Our Portfolio" %}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="services-banner">
    <div class="scrolling-text">
      <div class="scrolling-content">
        <span>{% translate "Web Development" %}</span>
        <span>{% translate "SEO Improvement" %}</span>
        <span>{% translate "Front-End Improvement" %}</span>
        <span>{% translate "Website Hosting" %}</span>
        <span>{% translate "Website Migration" %}</span>
        <span>{% translate "Website Maintanence" %}</span>

        <!-- Duplicate content -->
        <span>{% translate "Web Development" %}</span>
        <span>{% translate "SEO Improvement" %}</span>
        <span>{% translate "Front-End Improvement" %}</span>
        <span>{% translate "Website Hosting" %}</span>
        <span>{% translate "Website Migration" %}</span>
        <span>{% translate "Website Maintanence" %}</span>
      </div>
    </div>
  </div>
</section>

<!-- About Us Section -->
<section class="about-section">
  <div class="container-lg">
    <h2 class="about-title">{% translate "Your Partner in Web Development and Digital Solutions" %}</h2>
    <div class="row">
      <div class="col-12 col-md-6 about-text">
        <p>404 Studio LLC is a web development agency committed to delivering modern, user-centric websites that elevate
          your business. With years of experience in the industry, we are passionate about bringing your vision to life
          through cutting-edge design, development, and ongoing support.</p>
        <button
          onclick="window.open('{{ 30_min }}, '_blank')"
          type="button"
          class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
          {% translate "Setup a meeting" %}
        </button>
      </div>
      <div class="col-12 col-md-6">
        <div class="frame about-section-image-frame">
          <div class="about-section-image-container noise-effect">
            <img src="{% static 'img/images/home-about-us-partnership-image.jpg' %}"
              class="about-section-image img-fluid w-100" alt="About Us Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Client Reviews Section -->
<section class="reviews-section py-5">
  <div class="container-fluid text-white">
    <h2>{% translate "Client Reviews" %}</h2>
    <div class="row reviews">
      <div class="col-md-4 review">
        <p>"404 Studio LLC has revamped our website and online store that was previously crashing. With patience,
          diligence, and professionalism the team at 404 has taken care of our needs. Weekly, we continue to have
          updates in the shop with sales and new items and 404 Studio is eager to take care of these items. Working with
          our diverse team, 404 Studio strives to meet deadlines, offer advice to improve our services, and unifies team
          work. With competitive pricing and polite customer service, I would recommend 404 Studio to others."</p>
        <img src="{% static 'img/images/profile-photo-1.jpg' %}" alt="client-review-1-profile-image"
          class="client-review-image">
        <small>Ruth Boyd, {% translate "Founder of" %} <a href="wovendignity.com">Woven Dignity</a></small>
      </div>
      <div class="col-md-4 review">
        <p>"404 Studio LLC is a web development agency committed to delivering modern, user-centric websites that
          elevate your business. With years of experience in the industry, we are passionate about bringing your vision
          to life through cutting-edge design, development, and ongoing support. asdf adsf asdf asdf adsf asdf asdf asdf
          adsf asdf wfadutr sftgjusrat aWSFGSJKXYFHA SEFR Ashtsregasdtgahd rasdfasdfaj yaaewrta"</p>
        <img src="{% static 'img/images/profile-photo-2.jpg' %}" alt="client-review-2-profile-image"
          class="client-review-image">
        <small>Tina Bralley - <a src="balancedaccountant.com">Balanced Accountant</a></small>
      </div>
      <div class="col-md-4 review">
        <p>"404 Studio LLC is a web development agency committed to delivering modern, user-centric websites that
          elevate your business. With years of experience in the industry, we are passionate about bringing your vision
          to life through cutting-edge design, development, and ongoing support. asdf adsf asdf asdf adsf asdf asdf asdf
          adsf asdf wfadutr sftgjusrat aWSFGS JKXYFHA SEFR Asht sre gasdtg ahd rasd fasd fajyaae wrta.
          404 Studio LLC is a web development agency committed to delivering modern, user-centric websites that elevate
          your business. With years of experience in the industry, we are passionate about bringing your vision to life
          through cutting-edge design, development, and ongoing support. asdf adsf asdf asdf adsf asdf asdf asdf adsf
          asdf wfadutr sftgjusrat aWSFG SJKXY FHA SEFR Ashtsreg asdtgah drasdfa sdfajya aewrta"</p>
        <img src="{% static 'img/images/profile-photo-3.jpg' %}" alt="client-review-3-profile-image"
          class="client-review-image">
        <small>Nassima Amari - <a src="ilcabejaia.com">ILCA Bejaia</a></small>
      </div>
    </div>
  </div>
</section>

<!-- Website Development Packages Section -->
<section class="packages-section py-5">
  <div class="container text-center">
    <h2>{% translate "Website Development Packages" %}</h2>
    <div class="row mx-0">
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="package-card">
          <h4>{% translate "Basic" %}</h4>
          <p class="cost-subtitle">$500-$1,000</p>
          <br />
          <p>{% translate "Services Included:" %}</p>
          <ul>
            <li>{% translate "Pre-designed layout selection and customization" %}</li>
            <li>{% translate "Up to 5 pages" %}</li>
            <li>{% translate "Basic SEO setup" %}</li>
            <li>{% translate "Mobile-responsive design" %}</li>
            <li>{% translate "1 round of revisions" %}</li>
            <li>{% translate "Content formatting" %}</li>
          </ul>
          <br />
          <p>{% translate "Ideal For:" %}</p>
          <ul>
            <li>{% translate "Small businesses or personal sites needing a professional web presence with minimal customization" %}</li>
          </ul>
          <button
            onclick="window.open('{{ dev_basic }}', '_blank')"
            type="button"
            class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
            {% translate "Request this Package" %}
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="package-card">
          <h4>{% translate "Standard" %}</h4>
          <p class="cost-subtitle">$1,500-$2,500</p>
          <br />
          <p>{% translate "Services Included:" %}</p>
          <ul>
            <li>{% translate "Semi-custom design with unique styling" %}</li>
            <li>{% translate "Up to 10 pages" %}</li>
            <li>{% translate "Advanced SEO setup" %}</li>
            <li>{% translate "Speed optimization" %}</li>
            <li>{% translate "Basic E-commerce capability (up to 10 products)" %}</li>
            <li>{% translate "2 rounds of revisions" %}</li>
            <li>{% translate "Contact form integration" %}</li>
          </ul>
          <br />
          <p>{% translate "Ideal For:" %}</p>
          <ul>
            <li>{% translate "Growing businesses needing more customization and basic e-commerce functionality" %}
            </li>
          </ul>
          <button
            onclick="window.open('{{ dev_standard }}', '_blank')"
            type="button"
            class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
            {% translate "Request this Package" %}
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="package-card">
          <h4>{% translate "Premium" %}</h4>
          <p class="cost-subtitle">$5,000+</p>
          <br />
          <p>{% translate "Services Include:" %}</p>
          <ul>
            <li>{% translate "Fully custom design from scratch" %}</li>
            <li>{% translate "Unlimited pages" %}</li>
            <li>{% translate "E-commerce with unlimited products" %}</li>
            <li>{% translate "Custom features (user profiles, booking systems, etc.)" %}</li>
            <li>{% translate "4 rounds of revisions" %}</li>
            <li>{% translate "Third-party integrations (CRM, marketing platforms)" %}</li>
          </ul>
          <br />
          <p>{% translate "Ideal For:" %}</p>
          <ul>
            <li>{% translate "Businesses needing complex functionality or unique custom features" %}</li>
          </ul>
          <button
            onclick="window.open('{{ dev_premium }}', '_blank')"
            type="button"
            class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
            {% translate "Request this Package" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Web Hosting Plans Section -->
<section class="hosting-section py-5">
  <div class="container text-center text-white">
    <h2 class="hosting-title">{% translate "Web Hosting Plans" %}</h2>
    <div class="row mx-0">
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="hosting-card">
          <h4>{% translate "Basic Hosting" %}</h4>
          <p class="cost-subtitle">{% translate "$20/month" %}</p>
          <br />
          <p>{% translate "Service Includes:" %}</p>
          <ul>
            <li>{% translate "2GB Storage" %}</li>
            <li>{% translate "Basic SSL certificate" %}</li>
            <li>{% translate "10GB monthly bandwidth" %}</li>
            <li>{% translate "1 email account" %}</li>
            <li>{% translate "99.9% uptime guarantee" %}</li>
          </ul>
          <br />
          <p>{% translate "Ideal For:" %}</p>
          <ul>
            <li>{% translate "Simple websites or blogs that don't need a lot of storage or bandwidth" %}</li>
          </ul>
          <button onclick="window.open('{{ host_basic }}', '_blank')"
            type="button"
            class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
            {% translate "Request this Plan" %}
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="hosting-card">
          <h4>{% translate "Standard Hosting" %}</h4>
          <p class="cost-subtitle">{% translate "$40/month" %}</p>
          <br />
          <p>{% translate "Service Includes:" %}</p>
          <ul>
            <li>{% translate "10GB storage" %}</li>
            <li>{% translate "Free SSL certificate" %}</li>
            <li>{% translate "99.9% uptime guarantee" %}</li>
            <li>{% translate "50GB monthly bandwidth" %}</li>
            <li>{% translate "3 email accounts" %}</li>
            <li>{% translate "Priority support" %}</li>
          </ul>
          <br />
          <p>{% translate "Ideal For:" %}</p>
          <ul>
            <li>{% translate "Small business websites or blogs with moderate traffic and extra features" %}</li>
          </ul>
          <button
            onclick="window.open('{{ host_standard }}', '_blank')"
            type="button"
            class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
            {% translate "Request this Plan" %}
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="hosting-card">
          <h4>{% translate "Premium Hosting" %}</h4>
          <p class="cost-subtitle">{% translate "$80/month" %}</p>
          <br />
          <p>{% translate "Service Includes:" %}</p>
          <ul>
            <li>{% translate "30GB storage" %}</li>
            <li>{% translate "Premium SSL certificate" %}</li>
            <li>{% translate "Unlimited bandwidth" %}</li>
            <li>{% translate "10+ email accounts" %}</li>
            <li>{% translate "Nightly backups" %}</li>
            <li>{% translate "Advanced security features" %}</li>
            <li>{% translate "Priority support with custom setup assistance" %}</li>
          </ul>
          <br />
          <p>{% translate "Ideal For:" %}</p>
          <ul>
            <li>{% translate "High-traffic sites or businesses with custom needs that require a high-performance hosting environment" %}
            </li>
          </ul>
          <button
            onclick="window.open('{{ host_premium }}', '_blank')"
            type="button"
            class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
            {% translate "Request this Plan" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Consultation Prompt Section -->
<section class="consultation-section py-5">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <!-- <div class="frame"> -->
      <!-- <div class="consultation-image-container noise-effect">
        <img src="{% static '/img/images/consultation-section-full-image.jpg' %}" alt="Consultation">
      </div> -->
    <!-- </div> -->
    <div class="consultation-text">
      <h2>{% translate "Need Help Choosing?" %}</h2>
      <p>{% translate "Schedule a free consultation now, and we will figure out which package and/or plan is right for your situation!" %}
      </p>
      <button onclick="window.open('{{ 30_min }}', '_blank')" type="button"
        class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">
        {% translate "Schedule Consultation" %}
      </button>
    </div>
  </div>
</section>


<!-- Contact Section -->
<section class="contact-section py-5 text-white">
  <div class="container-fluid">
    <h2>{% translate "Still have questions? Let's Chat." %}</h2>
    <div class="row align-items-center">
      <!-- Form Column -->
      <div class="col-md-6">
        <form class="contact-form">
          <div class="mb-3">
            <label>{% translate "First Name" %}</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label>{% translate "Last Name" %}</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label>{% translate "Email" %}</label>
            <input type="email" class="form-control">
          </div>
          <div class="mb-3">
            <label>{% translate "Subject" %}</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label>{% translate "Message" %}</label>
            <textarea class="form-control"></textarea>
          </div>
          <button
            class="button button--quidel button--inverted button--text-thick button--text-upper button--size-s">{% translate "Submit" %}</button>
        </form>
      </div>
      <!-- Image Column -->
      <div class="col-12 col-md-6">
      <div class="frame contact-section-image-frame">
        <div class="contact-section-image-container noise-effect">
          <img src="{% static '/img/images/contact-image.jpg' %}" alt="Contact Us" class="img-fluid noise-effect">
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
{% endblock content %}