{% extends "main/base.html" %}
{% load static %}
{% block title %}Our Work | Portfolio of 404 Studio{% endblock title %}
{% block meta_description %}See our portfolio of innovative web designs and development projects. Discover how we've helped businesses like yours achieve success online.{% endblock meta_description %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
{% endblock extra_head %}

{% block content %}
<section class="portfolio-section">
  <div class="portfolio-container">
    <h2>Project Showcase</h2>
    <p>Below is a list of our top projects for clients of various purposes and goals.</p>
    <div class="portfolio">
      <!-- Portfolio Item 1 -->
      <div class="portfolio-item text-white"> <!-- data-modal="modal-1"> -->
        <button class="close-btn">Close</button>
        <h3>ILCA Bejaia</h3>
        <p>International Learning Center in Algeria</p>
        <div class="mockup">
          <img src="{% static 'img/portfolio-images/macbook-white.png' %}">
          <div class="artwork">
            <img src="{% static 'img/portfolio-images/ilca-bejaia-home-page-mockup.png' %}">
          </div>
        </div>
        <ul>
          <li><b>Platform:</b> Square Online</li>
          <li><b>Site Type:</b> Store & Blog</li>
        </ul>
        <div class="portfolio-info">
          <h3>ILCA Bejaia</h3>
          <p>International Learning Center in Algeria</p>
          <span class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora pariatur laudantium magnam. Veritatis quibusdam quasi dolor earum, quaerat tempora pariatur fuga ipsam repudiandae, dicta recusandae, voluptatem mollitia corporis dolorem voluptas.</span>
          <ul>
            <li>example</li>
            <li>example 2</li>
            <li>example</li>
          </ul>
        </div>
      </div>

      <!-- Modal -->
      <!-- <div class="modal" id="modal-1">
        <div class="modal-content">
          <button class="modal-close">&times;</button>
          <h3>ILCA Bejaia</h3>
          <p>More details about the project will go here...</p>
        </div>
      </div> -->

      <!-- Portfolio Item 2 -->
      <div class="portfolio-item text-white"> <!--data-modal="modal-2"> -->
        <button class="close-btn">Close</button>
        <h3>Woven Dignity</h3>
        <p>Hand-sewn craft business</p>
        <div class="mockup">
          <img src="{% static 'img/portfolio-images/macbook-white.png' %}">
          <div class="artwork">
            <img src="{% static 'img/portfolio-images/woven-dignity-home-page-mockup.png' %}">
          </div>
        </div>
        <ul>
          <li><b>Platform:</b> Square Online</li>
          <li><b>Site Type:</b> Store & Blog</li>
        </ul>
        <div class="portfolio-info">
          <h3>Woven Dignity</h3>
          <p>Hand-sewn gift card business</p>
          <span class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora pariatur laudantium magnam. Veritatis quibusdam quasi dolor earum, quaerat tempora pariatur fuga ipsam repudiandae, dicta recusandae, voluptatem mollitia corporis dolorem voluptas.</span>
          <ul>
            <li>example</li>
            <li>example 2</li>
            <li>example</li>
          </ul>
        </div>
      </div>

      <!-- Modal -->
      <!-- <div class="modal" id="modal-2">
        <div class="modal-content">
          <button class="modal-close">&times;</button>
          <h2>Woven Dignity</h2>
          <p>More details about the project will go here...</p>
        </div>
      </div> -->
    </div>
  </div>
</section>

{% endblock content %}

{% block extra_scripts %}
  <script src="{% static 'js/portfolio.js' %}"></script>
{% endblock extra_scripts %}