/* --------------------- Resets --------------------- */
/* General Box-Sizing */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styling */
ul, ol {
    list-style: none;
}

/* Remove quotes from blockquotes */
blockquote, q {
    quotes: none;
}

/* Make images responsive */
img {
    max-width: 100%;
    height: auto;
}

/* Remove link underline and reset text decoration */
a {
    text-decoration: none;
    color: inherit;
}

/* Reset table styles */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Set base font and line-height */
body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* Reset form controls */
input, textarea, button, select {
    font: inherit; /* Inherit font from body */
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
}

/* Remove text decoration on buttons */
button {
    text-decoration: none;
    cursor: pointer;
}

/* Remove horizontal scrollbar in input/textarea */
input[type="text"], input[type="email"], input[type="password"], textarea {
  resize: none;
}

/* Reset fieldset */
fieldset {
    border: none;
    padding: 0;
}

/* Fix alignment issues with inline-block */
img, svg {
    vertical-align: middle;
}

/* General HTML and Body Resets */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --------------------- Root Variables --------------------- */
:root {
  --main-orange: #EFB071;
  --contrast-blue-green: #486d76;
  --contrast-blue: #14213d;
  --contrast-grey: #2f2f2f;
  --text-grey: #404040;
  --contrast-darker: #1e1e1e;
  --black: #000000;
}

/* --------------------- Fonts --------------------- */
@font-face {
  font-family: NeonLEDLight;
  src: url(../fonts/NEONLEDLight.ttf);
}

/* --------------------- Typography --------------------- */
html {
  font-size: 16px; /* 1rem = 16px by default */
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
  color: var(--contrast-blue);
}

h1 {
  font-size: 7.5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}


/* --------------------- Header --------------------- */
header {
  background-color: var(--main-orange);
  padding: 10px 20px;
}

/* Logo */
.logo-container img {
  max-width: 150px;
  height: auto;
}

/* --------------------- Navigation --------------------- */
.navigation {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-family: 'Anton SC', sans-serif;
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--contrast-blue);
}

.user-account-link .account-link {
  text-decoration: none;
  color: #000000;
}

.skip-link {
  display: none;
}

/* --------------------- Buttons --------------------- */
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-primary-orange {
  background-color: var(--main-orange);
}
.btn-secondary-orange {
  border: var(--main-orange) 2px solid;
}

.btn-primary-blue {
  background-color: var(--contrast-blue);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-primary-blue:hover {
  background-color: #3764b8;
}

.btn-secondary-blue {
  background-color: transparent;
  color: var(--contrast-blue);
  border: 2px solid var(--contrast-blue);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-secondary-blue:hover {
  background-color: var(--contrast-blue);
  color: white;
}

/* --------------------- Social Media Icons --------------------- */
.social-links {
  display: flex;
}

.social-icon {
  margin-right: 15px;
  border: black 1px solid;
}

.social-icon svg {
  width: 30px;
  height: 30px;
}

/* --------------------- Burger Menu --------------------- */
.burger-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.burger-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.burger-btn:hover .burger-icon div {
  background-color: #9e1f09; /* Color when hovering over the burger button (tomato color) */
}

.burger-icon {
  width: 30px;
  height: 30px;
}

.burger-icon div {
  background-color: #333;
  height: 5px;
  margin: 5px 0;
}

.mobile-menu {
  display: none;
  background-color: var(--main-orange);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  text-align: right;
  padding-right: 20px;
}

.mobile-menu.active {
  display: block;
}

.mobile-social-links {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.mobile-nav-list ul {
  margin: 0;
  padding: 20px 0;
}

.mobile-nav-list li {
  margin-bottom: 15px;
}

.mobile-nav-list a {
  color: #333;
  text-decoration: none;
  display: block;
}

@media (max-width: 768px) {
  /* Hide regular navigation on mobile */
  .navigation {
    display: none;
  }

  /* Show burger button on mobile */
  .burger-menu {
    display: block;
  }

  /* Initially hide the mobile menu */
  .mobile-menu {
    display: none; /* Hidden by default */
    background-color: var(--main-orange);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: right; /* Align text to the right */
    padding-right: 20px; /* Add padding to move content slightly from the edge */

  }

  /* Show mobile menu when it has the 'active' class */
  .mobile-menu.active {
    display: block; /* Show when active */
  }

  /* Hide social links for the main navigation, but show them inside mobile menu */
  .social-links {
    display: none;
  }

  .mobile-social-links {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }

  .mobile-social-links a {
    margin: 0 10px;
  }

  .mobile-nav-list ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
  }

  .mobile-nav-list li {
    margin-bottom: 15px;
  }

  .mobile-nav-list a {
    color: #333;
    text-decoration: none;
    display: block;
  }
}

/* --------------------- Global Section --------------------- */
main {
  padding: 0;
  margin: 0;
}

section {
  margin: 0;
  padding: 5rem 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* --------------------- Hero Section --------------------- */
.hero-section {
  background-color: var(--main-orange);
  padding: 4rem 0;
  min-height: 80vh;
  position: relative;
  text-align: center;
}
.hero-text h1 {
  margin: 0;
  color: var(--contrast-blue);
  line-height: 1.2;
  position: relative;
  z-index: 2;
  font-style: italic;
}

.hero-summary {
  max-width: 600px;
  margin: 2rem auto;
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--contrast-blue);
  opacity: 0.9;
  font-weight: 300;
}

.hero-buttons {
  height: 200px;
}

.services-banner {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  font-family: 'Orbitron', serif;
  font-size: 1.65rem;
  color: #fff;
  background-color: var(--contrast-blue);
  margin-top: 3.5rem;
  border-top: #000000 solid 2px;
  border-bottom: #000000 solid 2px;
}
.scrolling-text {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

.scrolling-text span {
  display: inline-block;
  margin: 0 20px;
  padding: 20px;
  font-size: 2rem;
  color: gainsboro;
}

/* Keyframes for the scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* ------ Images ------ */

.noise-effect:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://img.freepik.com/free-photo/white-striped-wallpaper-texture_1194-5674.jpg?t=st=1736535102~exp=1736538702~hmac=84be75980ddf951d3d3c72d2bd87ead20ee9b6dad6ecea0d7d2e259a29523c26&w=826);  content: "";
  height: 300%;
  width: 200%;
  opacity: 0.12;
  position: absolute;
  top: -250px;
  left: -200px;
  z-index: 3;
}

/* Static Animation Keyframes */
@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

/* Hero Image Container */
.hero-image-container {
  position: absolute;
  display: block;
  overflow: hidden; /* Ensure overlay doesn't exceed bounds */
  z-index: 1;
}

/* Hero Image */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

.hero-first-image {
  width: 250px;
  height: auto;
}

.hero-second-image {
  width: 350px;
  height: auto;
}

/* Example Positioning for Hero Images */
.hero-image-container:nth-of-type(1) {
  left: 0%;
  top: 0%;
}

.hero-image-container:nth-of-type(2) {
  right: -5%;
  top: 28%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-image-container:first-of-type {
    left: 5%;
    top: 20%;
  }
  .hero-image-container:last-of-type {
    right: 5%;
    top: 25%;
  }
}

/* About Us Section */
.about-section {
  background-color: var(--main-orange);
}
.about-title {
  color: var(--contrast-blue);
  width: 75%;
}
.about-text {
  margin-top: -1rem;
  margin-bottom: -6rem;
  padding: 2rem;
  z-index: 1;
}
.about-section-image {
  position: relative;
  top: -50px;
}

@media (max-width: 768px) {
  .about-section-image {
    padding-top: 3.5rem;
  }
}
/* Client Reviews Section */
.reviews-section {
  background-color: var(--contrast-blue);
  padding: 0 20px;
}
.reviews-section h2 {
  color: var(--main-orange);
}
.review p {
  font-size: 1.2rem;
  color: var(--main-orange);
}

.reviews {
  padding-top: 3rem;
}

.client-review-image {
  border-radius: 500px;
  width: 75px;
  height: 100px;
}

/* Packages Section */
.packages-section {
  background-color: var(--main-orange);
}
.package-card, .hosting-card {
  color: gainsboro;
  border-radius: 5px;
}

.package-card {
  background-color: var(--contrast-blue);
}
.package-card .cost-subtitle {
  color: var(--main-orange);
}

.package-card ul,
.hosting-card ul {
  list-style: square;
  text-align: left;
}

.hosting-card {
  background-color: var(--main-orange);
}
.hosting-card .cost-subtitle {
  color: var(--contrast-blue);
}

.cost-subtitle {
  font-size: 2rem;
  font-weight: bold;
}

/* Hosting Section */
.hosting-section {
  background-color: var(--contrast-blue);
}
.hosting-title {
  color: var(--main-orange);
}
.hosting-card {
  background-color: var(--main-orange);
  color: var(--text-grey);
}

/* Consultation Section */
.consultation-section {
  background-color: var(--main-orange);
}
.consultation-text h2 {
  color: var(--contrast-blue);
}

/* Contact Section */
.contact-section {
  background-color: var(--contrast-blue);
  padding: 20px;
}
.contact-section h2, .contact-form label {
  color: var(--main-orange);
}

@media (min-width: 768px) {
  .contact-section {
    padding: 150px;
  }
}

/* Footer Section */
.footer {
  background-color: var(--main-orange);
}
.footer-nav a {
  color: white;
  margin-right: 1rem;
}