/* --------------------- Resets --------------------- */
/* General Box-Sizing */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styling */
ul, ol {
    list-style: none;
}

/* Remove quotes from blockquotes */
blockquote, q {
    quotes: none;
}

/* Make images responsive */
img {
    max-width: 100%;
    height: auto;
}

/* Remove link underline and reset text decoration */
a {
    text-decoration: none;
    color: inherit;
}

/* Reset table styles */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Set base font and line-height */
body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* Reset form controls */
input, textarea, button, select {
    font: inherit; /* Inherit font from body */
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
}

/* Remove text decoration on buttons */
button {
    text-decoration: none;
    cursor: pointer;
}

/* Remove horizontal scrollbar in input/textarea */
input[type="text"], input[type="email"], input[type="password"], textarea {
  resize: none;
}

/* Reset fieldset */
fieldset {
    border: none;
    padding: 0;
}

/* Fix alignment issues with inline-block */
img, svg {
    vertical-align: middle;
}

/* General HTML and Body Resets */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --------------------- Root Variables --------------------- */
:root {
  --main-orange: #EFB071;
  --contrast-blue-green: #486d76;
  --contrast-blue: #14213d;
  --contrast-grey: #2f2f2f;
  --text-grey: #404040;
  --contrast-darker: #1e1e1e;
  --black: #000000;
}

/* --------------------- Fonts --------------------- */
@font-face {
  font-family: NeonLEDLight;
  src: url(../fonts/NEONLEDLight.ttf);
}

/* --------------------- Typography --------------------- */
html {
  font-size: 16px; /* 1rem = 16px by default */
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
  color: var(--contrast-blue);
}

h1 {
  font-size: 7.5rem;
}

h2 {
  font-size: 3rem;
}

h5 {
  font-weight: 600;
}

p {
  font-size: 1rem;
}

@media (min-width:768px) and (max-width:992px) {
  h1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}

/* --------------------- Header --------------------- */
header {
  background-color: var(--main-orange);
  padding: 10px 20px;
}

/* Logo */
.logo-container img {
  max-width: 150px;
  height: auto;
}

/* --------------------- Navigation --------------------- */
.navigation {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-family: 'Anton SC', sans-serif;
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--contrast-blue);
}

.user-account-link .account-link {
  text-decoration: none;
  color: #000000;
}

.skip-link {
  display: none;
}

/* --------------------- Buttons --------------------- */
.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

@media (max-width: 768px) {
  .button {
    padding: 0.9rem 1.75rem;
    font-size: 0.80rem;
  }
}

.button--quidel {
	background: #ffffff;
	color: #ffffff;
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--quidel.button--inverted {
	background: #fff;
	color: #fff;
}
.button--quidel::before,
.button--quidel::after {
	content: '';
	position: absolute;
	z-index: -1;
	border-radius: inherit;
}
.button--quidel::after {
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background: #fff;
}
.button--quidel.button--inverted::after {
	background: var(--contrast-blue);
}
.button--quidel::before {
	background: var(--contrast-blue);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--quidel.button--inverted::before {
	background: var(--main-orange);
}
.button--round-s.button--quidel::after {
	border-radius: 3px;
}
.button--round-m.button--quidel::after {
	border-radius: 13px;
}
.button--round-l.button--quidel::after {
	border-radius: 40px;
}
.button--quidel > span {
	padding-left: 0.35em;
}
.button--quidel:hover {
	color: #37474f;
}
.button--quidel.button--inverted:hover {
	color: var(--main-orange);
}
.button--quidel:hover::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* --------------------- Social Media Icons --------------------- */
.social-links {
  display: flex;
}

.social-icon {
  margin-right: 15px;
  border: black 1px solid;
}

.social-icon svg {
  width: 30px;
  height: 30px;
}

/* --------------------- Burger Menu --------------------- */
.burger-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.burger-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.burger-btn:hover .burger-icon div {
  background-color: #9e1f09; /* Color when hovering over the burger button (tomato color) */
}

.burger-icon {
  width: 30px;
  height: 30px;
}

.burger-icon div {
  background-color: #333;
  height: 5px;
  margin: 5px 0;
}

.mobile-menu {
  display: none;
  background-color: var(--main-orange);
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 4;
  text-align: right;
  padding-right: 20px;
  font-weight: 600;
}

.mobile-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-social-links {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.mobile-nav-list ul {
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-list li {
  margin-bottom: 15px;
}

.mobile-nav-list a {
  color: #333;
  text-decoration: none;
  display: block;
}

.mobile-menu-overlay {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.mobile-menu-overlay.active {
  display: block;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 768px) {
  /* Hide regular navigation on mobile */
  .navigation {
    display: none;
  }

  /* Show burger button on mobile */
  .burger-menu {
    display: block;
  }

  /* Hide social links for the main navigation, but show them inside mobile menu */
  .social-links {
    display: none;
  }
}

/* --------------------- Global Section --------------------- */
main {
  padding: 0;
  margin: 0;
}

section {
  margin: 0;
  padding: 5rem 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* --------------------- Hero Section --------------------- */
.hero-section {
  background-color: var(--main-orange);
  padding: 4rem 0;
  min-height: 80vh;
  position: relative;
  text-align: center;
}
.hero-text h1 {
  margin: 0;
  color: var(--contrast-blue);
  line-height: 1.2;
  position: relative;
  z-index: 2;
  font-style: italic;
  -webkit-text-stroke: 0.75px #ffe2c6;
}

.hero-summary {
  max-width: 600px;
  margin: 2rem auto;
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--contrast-blue);
  opacity: 0.9;
  font-weight: 300;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero-section {
    min-height: 0;
    padding: 1rem 0;
  }
  .hero-text h1 {
    padding-top: 1rem;
  }

  .hero-summary {
    max-width: 18rem;
    font-size: 1rem;
  }

  .hero-buttons {
    height: auto;
  }
}

.services-banner {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  font-family: 'Orbitron', serif;
  font-size: 1.65rem;
  color: #fff;
  background-color: var(--contrast-blue);
  margin-top: 3.5rem;
  border-top: #000000 solid 2px;
  border-bottom: #000000 solid 2px;
}

.scrolling-text {
  display: flex;
  width: 200%; /* Ensure enough space for seamless scrolling */
}

.scrolling-content {
  display: flex;
  animation: scroll 20s linear infinite;
}

.scrolling-content span {
  display: inline-block;
  margin: 0 20px;
  padding: 20px;
  font-size: 2rem;
  color: gainsboro;
}

/* Keyframes for the scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ------ Images ------ */

.noise-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.noise-effect img {
  position: relative;
  z-index: 1;
}

.noise-effect:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://img.freepik.com/free-photo/white-striped-wallpaper-texture_1194-5674.jpg?t=st=1736535102~exp=1736538702~hmac=84be75980ddf951d3d3c72d2bd87ead20ee9b6dad6ecea0d7d2e259a29523c26&w=826);  content: "";
  height: 200%;
  width: 200%;
  opacity: 0.12;
  position: absolute;
  top: -250px;
  left: -200px;
  z-index: 3;
}

/* Static Animation Keyframes */
@keyframes grain {
  0%, 100% { transform: translate(0, 15%); }
  10% { transform: translate(-10%, 20%); }
  20% { transform: translate(20%, 10%); }
  30% { transform: translate(0%, 35%); }
  40% { transform: translate(10%, 10%); }
  50% { transform: translate(-10%, 20%); }
  60% { transform: translate(20%, 35%); }
  70% { transform: translate(10%, 10%); }
  80% { transform: translate(-10%, 20%); }
  90% { transform: translate(10%, 45%); }
}

/* @keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
} */

/* Hero Image Container */
.hero-image-container {
  position: absolute;
  display: block;
  overflow: hidden; /* Ensure overlay doesn't exceed bounds */
  z-index: 1;
}

/* Hero Image */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

.hero-first-image {
  width: 250px;
  height: auto;
}

.hero-second-image {
  width: 350px;
  height: auto;
}

/* Example Positioning for Hero Images */
.hero-image-container:nth-of-type(1) {
  left: 0%;
  top: 0%;
}

.hero-image-container:nth-of-type(2) {
  right: -5%;
  top: 28%;
}

@media (min-width:768px) and (max-width:992px) {
  .hero-first-image {
    width: 160px;
  }
  .hero-second-image {
    width: 225px;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-image-container:nth-of-type(1) {
    left: 5%;
    top: 5%;
  }
  .hero-image-container:nth-of-type(2) {
    right: 5%;
    top: 25%;
  }
  .hero-first-image {
    width: 120px;
  }
  .hero-second-image {
    width: 160px;
  }
}

/* About Us Section */
.about-section {
  background-color: var(--main-orange);
}
.about-title {
  color: var(--contrast-blue);
  width: 75%;
}
.about-text {
  margin-top: -1rem;
  margin-bottom: -6rem;
  padding: 2rem 1rem;
  z-index: 1;
}

.about-section-image-container {
  top: -50px;
}
/* .about-section-image {
} */

@media (max-width: 768px) {
  .about-title {
    width: 100%;
  }
  .about-section-image-container {
    top: 60px;
  }
  .about-section-image {
    margin-bottom: 2rem;
  }
}
/* Client Reviews Section */
.reviews-section {
  background-color: var(--contrast-blue);
  padding: 0 20px;
}
.reviews-section h2 {
  color: var(--main-orange);
}
.review p {
  font-size: 1.2rem;
  color: var(--main-orange);
}

.reviews {
  padding-top: 3rem;
}

.client-review-image {
  border-radius: 500px;
  width: 75px;
  height: 100px;
}

/* Packages Section */
.packages-section {
  background-color: var(--main-orange);
}

.packages-section .container,
.hosting-section .container {
  max-width: 100%;
}

@media (max-width: 768px) {
  .packages-section .container,
  .hosting-section .container {
    max-width: 75%;
  }
}

@media (max-width: 455px) {
  .packages-section .container,
  .hosting-section .container {
    max-width: 100%;
  }
}

.package-card, .hosting-card {
  color: gainsboro;
  border-radius: 5px;
  position: relative; /* Establish a positioning context */
  padding: 1.5rem 1.5rem 0rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.package-card {
  background-color: var(--contrast-blue);
  border: 2px solid white;
}

.package-card h4,
.hosting-card h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.package-card p,
.hosting-card p {
  font-weight: 600;
  text-align: left;
}

.package-card .cost-subtitle,
.hosting-card .cost-subtitle {
  color: var(--main-orange);
  text-align: center;
}

.package-card ul,
.hosting-card ul {
  list-style: square;
  text-align: left;
  margin: 0 1rem 1rem 1rem;
}

.hosting-card {
  background-color: var(--main-orange);
}
.hosting-card .cost-subtitle {
  color: var(--contrast-blue);
}

.cost-subtitle {
  font-size: 2rem;
  font-weight: bold;
}

/* Hosting Section */
.hosting-section {
  background-color: var(--contrast-blue);
}
.hosting-title {
  color: var(--main-orange);
}
.hosting-card {
  background-color: var(--main-orange);
  color: var(--text-grey);
}

.package-card button,
.hosting-card button {
  min-width: 120px; /* Ensure the button isn't too small */
  align-self: center;
}

@media (max-width: 1200px) {
  .packages-section .container .row .col-sm-12,
  .hosting-section .container .row .col-sm-12 {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media (max-width: 768px) {
  .package-card button,
  .hosting-card button {
    width: 90%; /* Adjust button width for smaller screens */
    bottom: -1.5rem; /* Slightly increase the hanging distance */
  }
}

@media (max-width: 480px) {
  .package-card button,
  .hosting-card button {
    width: 100%; /* Full width for very small screens */
    bottom: -2rem; /* Further adjust the hanging distance */
  }
}

/* Consultation Section */
.consultation-section {
  background-color: var(--main-orange);
}
.consultation-text h2 {
  color: var(--contrast-blue);
}

.consultation-image-container {
  width: 50%;
}

@media (max-width: 768px) {
  .consultation-image-container {
    width: 55%;
  }
}


/* Contact Section */
.contact-section {
  background-color: var(--contrast-blue);
  padding: 20px;
}
.contact-section h2, .contact-form label {
  color: var(--main-orange);
}

@media (min-width: 768px) {
  .contact-section {
    padding: 150px;
  }
}

/* Footer Section */
.footer {
  background-color: var(--main-orange);
}
.footer-nav a {
  color: white;
  margin-right: 1rem;
}