<header class="bright site-header theme-col--primary" data-controller="Header" data-current-styles='{
    "layout": "navLeft",
    "action": {
    "buttonText": "Get Started",
    "newWindow": false
    },
    "showSocial": true,
    "socialOptions": {
    "socialBorderShape": "none",
    "socialBorderStyle": "outline",
    "socialBorderThickness": {
    "unit": "px",
    "value": 1.0
    }
    },
    "menuOverlayTheme": "bright",
    "menuOverlayAnimation": "fade",
    "cartStyle": "cart",
    "cartText": "Cart",
    "showEmptyCartState": true,
    "cartOptions": {
    "iconType": "solid-7",
    "cartBorderShape": "none",
    "cartBorderStyle": "outline",
    "cartBorderThickness": {
    "unit": "px",
    "value": 1.0
    }
    },
    "showButton": false,
    "showCart": false,
    "showAccountLogin": true,
    "headerStyle": "dynamic",
    "languagePicker": {
    "enabled": false,
    "iconEnabled": false,
    "iconType": "globe",
    "flagShape": "shiny",
    "languageFlags": [ ]
    },
    "mobileOptions": {
    "layout": "logoLeftNavRight",
    "menuIcon": "doubleLineHamburger",
    "menuIconOptions": {
    "style": "doubleLineHamburger",
    "thickness": {
    "unit": "px",
    "value": 1.0
    }
    }
    },
    "dynamicOptions": {
    "border": {
    "enabled": false,
    "position": "allSides",
    "thickness": {
    "unit": "px",
    "value": 4.0
    }
    }
    },
    "solidOptions": {
    "headerOpacity": {
    "unit": "%",
    "value": 100.0
    },
    "border": {
    "enabled": false,
    "position": "allSides",
    "thickness": {
    "unit": "px",
    "value": 4.0
    }
    },
    "dropShadow": {
    "enabled": false,
    "blur": {
    "unit": "px",
    "value": 30.0
    },
    "spread": {
    "unit": "px",
    "value": 0.0
    },
    "distance": {
    "unit": "px",
    "value": 0.0
    }
    },
    "blurBackground": {
    "enabled": false,
    "blurRadius": {
    "unit": "px",
    "value": 12.0
    }
    }
    },
    "gradientOptions": {
    "gradientType": "faded",
    "headerOpacity": {
    "unit": "%",
    "value": 90.0
    },
    "border": {
    "enabled": false,
    "position": "allSides",
    "thickness": {
    "unit": "px",
    "value": 4.0
    }
    },
    "dropShadow": {
    "enabled": false,
    "blur": {
    "unit": "px",
    "value": 30.0
    },
    "spread": {
    "unit": "px",
    "value": 0.0
    },
    "distance": {
    "unit": "px",
    "value": 0.0
    }
    },
    "blurBackground": {
    "enabled": false,
    "blurRadius": {
    "unit": "px",
    "value": 12.0
    }
    }
    },
    "dropShadowOptions": {
    "enabled": false,
    "blur": {
    "unit": "px",
    "value": 12.0
    },
    "spread": {
    "unit": "px",
    "value": 0.0
    },
    "distance": {
    "unit": "px",
    "value": 12.0
    }
    },
    "borderOptions": {
    "enabled": false,
    "position": "allSides",
    "thickness": {
    "unit": "px",
    "value": 4.0
    }
    },
    "showPromotedElement": false,
    "buttonVariant": "primary",
    "blurBackground": {
    "enabled": false,
    "blurRadius": {
    "unit": "px",
    "value": 12.0
    }
    },
    "headerOpacity": {
    "unit": "%",
    "value": 100.0
    }
    }' data-first-focusable-element="" data-header-style="dynamic" data-language-picker='{
    "enabled": false,
    "iconEnabled": false,
    "iconType": "globe",
    "flagShape": "shiny",
    "languageFlags": [ ]
    }' data-section-id="header" data-section-theme="bright" data-test="header" id="header" style="" tabindex="-1">
          <div class="sqs-announcement-bar-dropzone"></div>
          <div class="header-announcement-bar-wrapper">
            <a class="header-skip-link sqs-button-element--primary" href="#page">
              Skip to Content
            </a>
            <div class="header-border" data-header-border="false" data-header-style="dynamic"
              data-header-usability-enabled="true" data-test="header-border" style="border-width: 0px !important;"></div>
            <div class="header-dropshadow" data-header-dropshadow="false" data-header-style="dynamic"
              data-header-usability-enabled="true" data-test="header-dropshadow" style=""></div>
            <div class="header-inner container--fluid header-mobile-layout-logo-left-nav-right header-layout-nav-left"
              data-test="header-inner" style="padding: 0;">
              <!-- Background -->
              <div class="header-background theme-bg--primary"></div>
              <div class="header-display-desktop" data-content-field="site-title">
                <!-- Social -->
                <!-- Title and nav wrapper -->
                <div class="header-title-nav-wrapper">
                  <!-- Title -->
                  <div class="header-title" data-animation-role="header-element">
                    <div class="logo">
                      <a data-animation-role="header-element" href="/">
                        <img alt="404Studio" data-loader="raw" decoding="async" elementtiming="nbf-header-logo-desktop"
                          fetchpriority="high" loading="eager"
                          src="//images.squarespace-cdn.com/content/v1/6718b30b131cc651070af13a/6db54da3-d61f-44af-bd45-7a86d9487aa9/404Studio-Logo.png?format=1500w"
                          style="display:block" />
                      </a>
                    </div>
                  </div>
                  <!-- Nav -->
                  <div class="navigation">
                    <div class="header-nav-wrapper">
                      <nav class="header-nav-list">
                      </nav>
                    </div>
                  </div>
                </div>
                <!-- Actions -->
                <div class="header-options header-actions--right">
                  <div class="account-link header-nav-item header-nav-item--collection customerAccountLoginDesktop"
                    data-animation-role="header-element" data-controller="UserAccountLink">
                    <a class="user-accounts-text-link header-nav-item" data-animation-role="header-element" href="#">
                      <span class="unauth">Login</span>
                      <span class="auth">Account</span>
                    </a>
                  </div>
                  <div class="header-actions-action header-actions-action--social">
                    <a aria-label="tiktok-unauth"
                      class="icon icon--fill social-icon header-icon-border-shape-none header-icon-border-style-outline"
                      href="http://squarespace.com/" target="_blank">
                      <svg viewbox="23 23 64 64">
                        <use height="110" width="110" xlink:href="#tiktok-unauth-icon"></use>
                      </svg>
                    </a>
                    <a aria-label="instagram-unauth"
                      class="icon icon--fill social-icon header-icon-border-shape-none header-icon-border-style-outline"
                      href="http://instagram.com/squarespace" target="_blank">
                      <svg viewbox="23 23 64 64">
                        <use height="110" width="110" xlink:href="#instagram-unauth-icon"></use>
                      </svg>
                    </a>
                    <a aria-label="twitter-unauth"
                      class="icon icon--fill social-icon header-icon-border-shape-none header-icon-border-style-outline"
                      href="http://twitter.com/squarespace" target="_blank">
                      <svg viewbox="23 23 64 64">
                        <use height="110" width="110" xlink:href="#twitter-unauth-icon"></use>
                      </svg>
                    </a>
                  </div>
                  <div class="showOnMobile">
                  </div>
                  <div class="showOnDesktop">
                  </div>
                </div>
    
                <!-- Burger -->
                <div class="header-burger menu-overlay-has-visible-non-navigation-items"
                  data-animation-role="header-element">
                  <button class="header-burger-btn menu-toggle" data-test="header-burger">
                    <span class="js-header-burger-open-title visually-hidden" hidden="">Open Menu</span>
                    <span class="js-header-burger-close-title visually-hidden" hidden="">Close Menu</span>
                    <div class="burger-box">
                      <div class="burger-inner header-menu-icon-doubleLineHamburger">
                        <div class="top-bun"></div>
                        <div class="patty"></div>
                        <div class="bottom-bun"></div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="header-display-mobile" data-content-field="site-title">
                <!-- Social -->
                <!-- Title and nav wrapper -->
                <div class="header-title-nav-wrapper">
                  <!-- Title -->
                  <div class="header-title" data-animation-role="header-element">
                    <div class="logo">
                      <a data-animation-role="header-element" href="/">
                        <img alt="404Studio" data-loader="raw" decoding="async" elementtiming="nbf-header-logo-desktop"
                          fetchpriority="high" loading="eager"
                          src="//images.squarespace-cdn.com/content/v1/6718b30b131cc651070af13a/6db54da3-d61f-44af-bd45-7a86d9487aa9/404Studio-Logo.png?format=1500w"
                          style="display:block" />
                      </a>
                    </div>
                  </div>
                  <!-- Nav -->
                  <div class="navigation">
                    <div class="header-nav-wrapper">
                      <nav class="header-nav-list">
                      </nav>
                    </div>
                  </div>
                </div>
                <!-- Actions -->
                <div class="header-options header-actions--right">
                  <div class="account-link header-nav-item header-nav-item--collection customerAccountLoginDesktop"
                    data-animation-role="header-element" data-controller="UserAccountLink">
                    <a class="user-accounts-text-link header-nav-item" data-animation-role="header-element" href="#">
                      <span class="unauth">Login</span>
                      <span class="auth">Account</span>
                    </a>
                  </div>
                  <div class="header-actions-action header-actions-action--social">
                    <a aria-label="tiktok-unauth"
                      class="icon icon--fill social-icon header-icon-border-shape-none header-icon-border-style-outline"
                      href="http://squarespace.com/" target="_blank">
                      <svg viewbox="23 23 64 64">
                        <use height="110" width="110" xlink:href="#tiktok-unauth-icon"></use>
                      </svg>
                    </a>
                    <a aria-label="instagram-unauth"
                      class="icon icon--fill social-icon header-icon-border-shape-none header-icon-border-style-outline"
                      href="http://instagram.com/squarespace" target="_blank">
                      <svg viewbox="23 23 64 64">
                        <use height="110" width="110" xlink:href="#instagram-unauth-icon"></use>
                      </svg>
                    </a>
                    <a aria-label="twitter-unauth"
                      class="icon icon--fill social-icon header-icon-border-shape-none header-icon-border-style-outline"
                      href="http://twitter.com/squarespace" target="_blank">
                      <svg viewbox="23 23 64 64">
                        <use height="110" width="110" xlink:href="#twitter-unauth-icon"></use>
                      </svg>
                    </a>
                  </div>
                  <div class="showOnMobile">
                  </div>
                  <div class="showOnDesktop">
                  </div>
                </div>
    
                <!-- Burger -->
                <div class="header-burger menu-overlay-has-visible-non-navigation-items"
                  data-animation-role="header-element">
                  <button class="header-burger-btn menu-toggle" data-test="header-burger">
                    <span class="js-header-burger-open-title visually-hidden" hidden="">Open Menu</span>
                    <span class="js-header-burger-close-title visually-hidden" hidden="">Close Menu</span>
                    <div class="burger-box">
                      <div class="burger-inner header-menu-icon-doubleLineHamburger">
                        <div class="top-bun"></div>
                        <div class="patty"></div>
                        <div class="bottom-bun"></div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- (Mobile) Menu Navigation -->
          <div class="header-menu header-menu--folder-list bright" data-current-styles='{
    "layout": "navLeft",
    "action": {
    "buttonText": "Get Started",
    "newWindow": false
    },
    "showSocial": true,
    "socialOptions": {
    "socialBorderShape": "none",
    "socialBorderStyle": "outline",
    "socialBorderThickness": {
    "unit": "px",
    "value": 1.0
    }
    },
    "menuOverlayTheme": "bright",
    "menuOverlayAnimation": "fade",
    "cartStyle": "cart",
    "cartText": "Cart",
    "showEmptyCartState": true,
    "cartOptions": {
    "iconType": "solid-7",
    "cartBorderShape": "none",
    "cartBorderStyle": "outline",
    "cartBorderThickness": {
    "unit": "px",
    "value": 1.0
    }
    },
    "showButton": false,
    "showCart": false,
    "showAccountLogin": true,
    "headerStyle": "dynamic",
    "languagePicker": {
    "enabled": false,
    "iconEnabled": false,
    "iconType": "globe",
    "flagShape": "shiny",
    "languageFlags": [ ]
    },
    "mobileOptions": {
    "layout": "logoLeftNavRight",
    "menuIcon": "doubleLineHamburger",
    "menuIconOptions": {
    "style": "doubleLineHamburger",
    "thickness": {
    "unit": "px",
    "value": 1.0
    }
    }
    },
    "dynamicOptions": {
    "border": {
    "enabled": false,
    "position": "allSides",
    "thickness": {
    "unit": "px",
    "value": 4.0
    }
    }
    },
    "solidOptions": {
    "headerOpacity": {
    "unit": "%",
    "value": 100.0
    },
    "border": {
    "enabled": false,
    "position": "allSides",
    "thickness": {
    "unit": "px",
    "value": 4.0
    }
    },
    "dropShadow": {
    "enabled": false,
    "blur": {
    "unit": "px",
    "value": 30.0
    },
    "spread": {
    "unit": "px",
    "value": 0.0
    },
    "distance": {
    "unit": "px",
    "value": 0.0
    }
    },
    "blurBackground": {
    "enabled": false,
    "blurRadius": {
    "unit": "px",
    "value": 12.0
    }
    }
    },
    "gradientOptions": {
    "gradientType": "faded",
    "headerOpacity": {
    "unit": "%",
    "value": 90.0
    },
    "border": {
    "enabled": false,
    "position": "allSides",
    "thickness": {
    "unit": "px",
    "value": 4.0
    }
    },
    "dropShadow": {
    "enabled": false,
    "blur": {
    "unit": "px",
    "value": 30.0
    },
    "spread": {
    "unit": "px",
    "value": 0.0
    },
    "distance": {
    "unit": "px",
    "value": 0.0
    }
    },
    "blurBackground": {
    "enabled": false,
    "blurRadius": {
    "unit": "px",
    "value": 12.0
    }
    }
    },
    "dropShadowOptions": {
    "enabled": false,
    "blur": {
    "unit": "px",
    "value": 12.0
    },
    "spread": {
    "unit": "px",
    "value": 0.0
    },
    "distance": {
    "unit": "px",
    "value": 12.0
    }
    },
    "borderOptions": {
    "enabled": false,
    "position": "allSides",
    "thickness": {
    "unit": "px",
    "value": 4.0
    }
    },
    "showPromotedElement": false,
    "buttonVariant": "primary",
    "blurBackground": {
    "enabled": false,
    "blurRadius": {
    "unit": "px",
    "value": 12.0
    }
    },
    "headerOpacity": {
    "unit": "%",
    "value": 100.0
    }
    }' data-section-id="overlay-nav" data-section-theme="bright" data-show-account-login="true" data-test="header-menu">
            <div class="header-menu-bg theme-bg--primary"></div>
            <div class="header-menu-nav">
              <nav class="header-menu-nav-list">
                <div class="header-menu-nav-folder" data-folder="root">
                  <div class="header-menu-nav-folder-content">
                    <!-- Menu Navigation -->
                    <div class="header-menu-nav-wrapper">
                    </div>
                    <div class="account-link header-menu-nav-item header-nav-item--collection customerAccountLoginMobile"
                      data-animation-role="header-element" data-controller="UserAccountLink">
                      <a class="user-accounts-text-link header-nav-item" data-animation-role="header-element" href="#">
                        <span class="unauth">Login</span>
                        <span class="auth">Account</span>
                      </a>
                    </div>
                  </div>
                  <div class="header-menu-actions social-accounts">
                    <div class="header-menu-actions-action header-menu-actions-action--social mobile">
                      <a aria-label="tiktok-unauth"
                        class="icon icon--lg icon--fill social-icon header-icon-border-shape-none header-icon-border-style-outline"
                        href="http://squarespace.com/" target="_blank">
                        <svg viewbox="23 23 64 64">
                          <use height="110" width="110" xlink:href="#tiktok-unauth-icon"></use>
                        </svg>
                      </a>
                    </div>
                    <div class="header-menu-actions-action header-menu-actions-action--social mobile">
                      <a aria-label="instagram-unauth"
                        class="icon icon--lg icon--fill social-icon header-icon-border-shape-none header-icon-border-style-outline"
                        href="http://instagram.com/squarespace" target="_blank">
                        <svg viewbox="23 23 64 64">
                          <use height="110" width="110" xlink:href="#instagram-unauth-icon"></use>
                        </svg>
                      </a>
                    </div>
                    <div class="header-menu-actions-action header-menu-actions-action--social mobile">
                      <a aria-label="twitter-unauth"
                        class="icon icon--lg icon--fill social-icon header-icon-border-shape-none header-icon-border-style-outline"
                        href="http://twitter.com/squarespace" target="_blank">
                        <svg viewbox="23 23 64 64">
                          <use height="110" width="110" xlink:href="#twitter-unauth-icon"></use>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </header>