<section class="relative flex flex-col pt-[5rem] pb-[5rem] bg-black overflow-hidden">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16 text-center">
            <div class="blob"></div>
            <h2 class="font-montserrat text-[30px] lg:text-[58px] font-semibold text-center lg:text-left text-white">
                What Our Partners Are Saying</h2>
            <p
                class="font-inter text-gray-400 text-[14px] md:text-[16px] lg:text-[18px] leading-[18px] md:leading-normal mt-4">
                Hear firsthand how we work together to achieve their financial goals.</p>
        </div>
        <!--Slider wrapper-->
        <div class="lg:flex grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-8 swiper mySwiper">
            <div class="swiper-wrapper">
                {% for review in reviews %}
                <!-- Review Card -->
                <div
                    class="swiper-slide group bg-[#1A1A1A] border border-solid h-auto border-white rounded-2xl p-6 transition-all duration-500 w-full hover:border-accentpurple z-1">
                    <!-- Star Rating -->
                    <div
                        class="flex items-center mb-9 gap-2 text-amber-500 transition-all duration-500 group-hover:text-primarypurple swiper-slide-active:text-primarypurple">
                        {% for i in range(0, 5) %}
                        <svg class="w-5 h-5" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.10326 1.31699C8.47008 0.57374 9.52992 0.57374 9.89674 1.31699L11.7063 4.98347C11.8519 5.27862 12.1335 5.48319 12.4592 5.53051L16.5054 6.11846C17.3256 6.23765 17.6531 7.24562 17.0596 7.82416L14.1318 10.6781C13.8961 10.9079 13.7885 11.2389 13.8442 11.5632L14.5353 15.5931C14.6754 16.41 13.818 17.033 13.0844 16.6473L9.46534 14.7446C9.17402 14.5915 8.82598 14.5915 8.53466 14.7446L4.91562 16.6473C4.18199 17.033 3.32456 16.41 3.46467 15.5931L4.15585 11.5632C4.21148 11.2389 4.10393 10.9079 3.86825 10.6781L0.940384 7.82416C0.346867 7.24562 0.674378 6.23765 1.4946 6.11846L5.54081 5.53051C5.86652 5.48319 6.14808 5.27862 6.29374 4.98347L8.10326 1.31699Z"
                                fill="#7F60F9" />
                        </svg>
                        {% endfor %}
                    </div>
                    <!-- Review Text -->
                    <p class="text-lg text-white leading-8 transition-all duration-500">
                        {{ review.review_content }}
                    </p>
                    <!-- {% if review.review_content|length > 150 %} -->
                    <!-- Read More Button -->
                    <!-- <button class="toggle-btn cursor-pointer text-primarypurple hover:text-secondaryaccentgold font-medium transition-all duration-300 mt-2"
                        onclick="toggleReadMore(this)">
                        Read more
                    </button> -->
                    <!-- {% endif %} -->
                    <!-- Reviewer Info -->
                    <div class="flex items-center gap-5 mt-9">
                        <img class="rounded-full object-cover" src="https://pagedone.io/asset/uploads/1696229969.png"
                            alt="avatar" />
                        <div class="grid gap-1">
                            <h5
                                class="text-gray-900 font-medium transition-all duration-500 group-hover:text-primarypurple swiper-slide-active:text-primarypurple">
                                {{ review.reviewer }}</h5>
                            <span class="text-sm leading-6 text-gray-500">{{ review.reviewer_title }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Slider controls -->
        <div class="mt-15 flex items-center justify-center gap-8">
            <button id="slider-button-left"
                class="swiper-button-prev group flex justify-center items-center bg-black w-12 h-12 transition-all duration-500 rounded-full hover:bg-secondarygreen "
                data-carousel-prev>
                <svg class="h-6 w-6 text-accentpurple group-hover:text-primaryorange" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.9999 12L4.99992 12M9.99992 6L4.70703 11.2929C4.3737 11.6262 4.20703 11.7929 4.20703 12C4.20703 12.2071 4.3737 12.3738 4.70703 12.7071L9.99992 18"
                        stroke="#EFB071" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </button>
            <button id="slider-button-right"
                class="swiper-button-next group flex justify-center items-center bg-black w-12 h-12 transition-all duration-500 rounded-full hover:bg-secondarygreen"
                data-carousel-next>
                <svg class="h-6 w-6 text-accentpurple group-hover:text-primaryorange" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3 12L19 12M14 18L19.2929 12.7071C19.6262 12.3738 19.7929 12.2071 19.7929 12C19.7929 11.7929 19.6262 11.6262 19.2929 11.2929L14 6"
                        stroke="#EFB071" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
</section>